:root {
  /* Your default theme */
  --background: white;
  --foreground: rgb(53, 53, 53);
  --section__skill: #e7e7e7;

  --when: white;

  --baw: rgb(53,53,53);

  /* Side nav */
  --sd__background: #1D262F;
  --sd__color: #fafafafa;
  
}

[data-theme='dark'] {
  --background: #161b22;
  --foreground: #0EC786;
  --section__skill: #0F1217;

  --when: black;

  --baw : #fafafafa;


  /* Side nav  */

  --sd__background: #1D262F;
  --sd__color: #0EC786;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: var(--section__skill);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}